<!DOCTYPE html>
<html>
<head>
  <title>Engagement+</title>
  <base href="/">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script src="/javascript/speech_to_text.js"></script>

</head>

<header class="cf ph3">
  <h1 class="fl-ns mb0 mt3 pt1"><a href="" class="link green hover-dark-green">Engagement<span class="dib-l dib-m dn"></span>+ Dashboard</a></h1>
  <nav class="fr-ns">
    <a href="/about" class="b link dark-gray hover-green ml3 mr4"><i data-feather="help-circle"></i></a>
    <div class="dib">
      <img src="https://www.famousbirthdays.com/faces/pederson-doug-image.jpg" class="br-100 h2 w2 ba dib" alt="avatar">
      <ul class="dib list pl0">
        <li class="link b f7">Doug Pederson</li>
        <li class="link"><i>Associate</i></li>
      </ul>
    </div>
  </nav>
</header>

  <h2 class="ph3 fl-ns mb0 mt3 pt1"><span class="dib-l dib-m dn"></span>About</h2> <br> <br> <br>
  <p class="ph3 fl-ns mb0 mt3 pt1"><span class="dib-l dib-m dn"></span>Engagement+ is a tool enabling TD Bank employees to better engage their customers.  Utilizing customer data and powerful analysis, Engagement+ is able to bring <b>focus</b> to the most important aspects of customer engagement.  Facebook, Twitter, and LinkedIn APIs are run through a Natural Language Processing (NLP) filter and used to develop a database of positive interests for each customer, allowing representatives to start personalized conversations.  Furthermore, with speech-to-text capabilities, Engagement+ is able to build further interests using the major conversation topics determined by NLP.  By establishing the two-layer interaction, our employees are able to make customer service more friendly and engaging.</p>

  <p class="ph3 fl-ns mb0 mt3 pt1"><span class="dib-l dib-m dn"></span>Engagement+ also incorporates data analytics to empower employees to better understand their customer's banking history, enabling personalized advice.  Firstly, Engagement+ provides a heatmap of customer spending across the entire world.  This map helps employees better understand the context in which their customers spend money.  For example, knowing that a customer spends more money in other countries could lead to discussions about internaional banking credit cards. Furthermore, Engagement+ provides charts and graphs of important banking data while making <b> predictions </b> based on old spending habits.</p>

    <p class="ph3 fl-ns mb0 mt3 pt1"><span class="dib-l dib-m dn"></span>Engagement+ was devevloped by Goat Team for Wharton Undergraduate Financial Tech Hackathon.  Goat Team is comprised of Ranwei Hu, Chris Fischer, Samuel Fleischer, and Derek Leung.</p>



  <body>

    <script>
      feather.replace()
    </script>
  </body>
</html>
