<!DOCTYPE html>
<html>
<head>
  <title>Engagement+</title>
  <base href="/">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script src="/build/tracking-min.js"></script>
</head>

<header class="cf ph3">
  <h1 class="fl-ns mb0 mt3 pt1"><a href="" class="link green hover-dark-green">Engagement<span class="dib-l dib-m dn"></span>+ Dashboard</a></h1>
  <nav class="fr-ns">
    <a href="/visualizer" class="b link dark-gray hover-green" style="padding-bottom: .95rem;"> <i data-feather="eye"></i></a>
    <a href="/about" class="b link dark-gray hover-green ml3 mr4"><i data-feather="help-circle"></i></a>
    <div class="dib">
      <img src="https://www.famousbirthdays.com/faces/pederson-doug-image.jpg" class="br-100 h2 w2 ba dib" alt="avatar">
      <ul class="dib list pl0">
        <li class="link f7 gray"><%= name %></li>
        <li class="link b">Score: <%= balance %></li>
      </ul>
    </div>
  </nav>
</header>

<div class="center pv3 ph3-l ph2 flex items-center bb bt b--black-10">
  <div class="flex justify-between flex-grow-1 justify-around items-center">
    <div class="flex-end">
    <label for="inputName" class="f7 b ttu gray db mb2 mt1">Customer Account Number</label>
    <input name="inputName" id="inputName" placeholder="100" class="input-reset ba b--black-20 pa3 db" type="text" aria-describedby="inputName-desc">
    <label for="inputName" class="f7 b ttu white db mb2 mt1"> .</label>
    <label for="file-upload" class="tc b mh3 ph4 pv3 input-reset ba pa4 b--black bg-transparent grow pointer f6 bg-animate hover-bg-black hover-white">
      <span class="pr1">Search</span>
      <i data-feather="search" width="16" class="w1 v-mid"></i>
    </label>
  </div>

  <div>

  </div>

  <div>
    <label for="inputName" class="f7 b ttu gray db mb2 mt1">Recording <i data-feather="mic" width="16" class="w1 v-mid"></i></label>

    <button id="start" class="tc b ph4 pv3 input-reset ba pa4 bg-green b--green grow pointer f6 bg-animate hover-bg-dark-green white hover-white">Start</button>
    <button id="stop" class="tc b ph4 pv3 input-reset ba pa4 bg-red b--red grow pointer f6 bg-animate hover-bg-dark-red white hover-white">Stop</button>
  </div>

  <h2>Output:</h2>
  <div id="output">--</div>

  </div>
</div>

<article class="mw6 tc bg-white br3 pa3 pa4-ns mb3 mt6 ba b--black-10" style="float: left; margin-left: 20px; width: 400px">
  <div class="tc">

    <h1 class="f4 mt0">You are currently helping:</h1>

  </div>
  <p class="lh-copy measure center f6 black-70 mt3">
  </p><form action="/posttransaction" method="post">

    <div class="mb4">
      <label class="f7 ttc dark-gray db mb2 mt1"><%= name %></label>
    </div>

    <div class="mb4">
      <label class="f7 b ttu dark-gray db mb2 mt1">Address:</label>
    </div>

    <button type="submit" class="tc b ph4 pv3 input-reset ba pa4 b--black bg-transparent grow pointer f6 bg-animate hover-bg-black hover-white" name="new-job">Make transaction</button>
  </form>
</article>

<div class="pa3 tl">
  <h2 class="mb0 mt5">Try these prompts:</h2>
  <table class="w-50 collapse ba tl br2 b--black-10 pv2 ph3 mt2 mb5">
    <tbody>
      <% for(var i=0; i < 5; i++) { %>
      <tr class="striped--near-white">
        <td class="pv2 ph3"><%= items[i].createdAt %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>




<script>
  feather.replace()
</script>
</body>
</html>
